<section id="blanchisserie">
  <header>
    <p>Besoin d'un partenaire rapide et fiable&nbsp;?</p>
    <h2>Blanchisserie</h2>
    <h3>Votre linge lavé, séché et plié</h3>
  </header>
  <p>La laverie Saint-Roch propose des prestations de blanchisserie pour vos couettes ou votre linge professionnel (hôtellerie, restauration, garage, milieu médical).</p>
  <p>Nous venons chercher le linge sur place et vous le rapportons lavé, séché, plié dans les meilleurs délais.</p>
  <button>Demander un devis gratuit</button>
</section>
