<section id="contact">
  <p>Laverie Saint-Roch</p>
  <p>3, rue Léon des Landes</p>
  <p>40000 Mont-de-Marsan</p>
  <p>07&thinsp;68&thinsp;21&thinsp;05&thinsp;76</p>
  <p><a href="mailto:laveriesaintroch@gmail.com">laveriesaintroch@gmail.com</a></p>
</section>
