<section>
  <header>
    <h2>Nos engagements</h2>
    <p>Nous faisons le maximum pour vous fournir le meilleur service possible</p>
  </header>
  <section>
    <header>
      <p>Un lavage de qualité</p>
      <h3>Qualité</h3>
    </header>
    <p>Des machines Miele récentes, entretenues avec soin, vous garantissent chaque jour un lavage de qualité.</p>
  </section>
  <section>
    <header>
      <p>Un environnement sain</p>
      <h3>Propreté</h3>
    </header>
    <p>La laverie est nettoyée tous les jours pour vous permettre de profiter de nos services dans des conditions d'hygiène optimales.</p>
  </section>
  <section>
    <header>
      <p>Un personnel réactif</p>
      <h3>Disponibilité</h3>
    </header>
    <p>Si vous en éprouvez le besoin, nous sommes joignables. Nous nous efforçons toujours de vous répondre dans les meilleurs délais.</p>
  </section>
</section>
