<section id="gallery">
  <img src="img/laverie-interieur1.jpg" alt="Photo de l'intérieur de la laverie, depuis le fond: sur la gauche les machines, sur la droite les sièges, au fond la vitrine">
  <img src="img/laverie-interieur2.jpg" alt="Photo de l'intérieur de la laverie, depuis l'entrée: sur la gauche les sièges, sur la droite les machines, au fond le distributeur automatique">
  <img src="img/laverie-interieur3.jpg" alt="Photo des machines, de gauche à droite: deux sèche-linge, une machine 20 kilos, trois machines 6,5 kilos">
</section>
