<section id="infos">
  <section>
    <header>
      <h2>7/7</h2>
      <p>La laverie est ouverte tous les jours</p>
    </header>
  </section>
  <section>
    <header>
      <h2>7h&thinsp;&ndash;&thinsp;22h</h2>
      <p>La laverie vous accueille du matin au soir</p>
    </header>
  </section>
  <section>
    <header>
      <h2>07&thinsp;68&thinsp;21&thinsp;05&thinsp;76</h2>
      <p>Pour toute question, n'hésitez pas à nous appeler&nbsp;!</p>
    </header>
  </section>
  <section>
    <header>
      <h2>Wifi</h2>
      <p>Profitez de notre accès wifi&nbsp;!</p>
    </header>
  </section>
</section>
