<section>
  <header>
    <h2>Des machines modernes et performantes</h2>
  </header>
  <p>Des machines Miele de dernière génération et un entretien régulier vous assurent un lavage de qualité, pour un linge toujours plus propre.</p>
  <img src="img/seche-linge.png" alt="Sèche-linge Miele professionnel PT8301">
  <img src="img/lave-linge-20kg.png" alt="Lave-linge Miele professionnel PW6167">
</section>
