<section id="services">
  <header>
    <h2>Services</h2>
    <p>Nous vous proposons différents services pour rendre votre attente plus agréable.</p>
  </header>
  <section>
    <header>
      <h3>Accès wifi gratuit</h3>
    </header>
    <p>Profitez de notre connexion gratuite.</p>
  </section>
  <section>
    <header>
      <h3>Bibliothèque libre-service</h3>
    </header>
    <p>Lisez, empruntez ou déposez des livres.</p>
  </section>
  <section>
    <header>
      <h3>Un petit creux&nbsp;?</h3>
    </header>
    <p>Un distributeur est à votre disposition.</p>
  </section>
  <section>
    <header>
      <h3>Vidéosurveillance</h3>
    </header>
    <p>Pour votre confort et votre sécurité, nous gardons un œil sur la laverie.</p>
  </section>
</section>
