<section id="prices">
  <header>
    <h2>Tarifs</h2>
    <p>Nous proposons des tarifs adaptés à vos besoins.</p>
  </header>
  <section>
    <h3>Machine 6,5kg</h3>
    <p>4&thinsp;&euro;</p>
    <button>En savoir plus</button>
  </section>
  <section>
    <h3>Machine 20kg</h3>
    <p>8&thinsp;&euro;</p>
    <button>En savoir plus</button>
  </section>
  <section>
    <h3>Sèche-linge</h3>
    <p>1&thinsp;&euro;</p>
    <p>Le cycle de 10 minutes</p>
    <button>En savoir plus</button>
  </section>
  <footer>
    <p>Paiement pièces, billets et cartes de prépaiement.</p>
  </footer>
</section>
