doctype html
html(lang='fr' dir='ltr')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content= 'La laverie Saint-Roch est une laverie automatique à Mont-de-Marsan. Des machines Miele de dernière génération et un entretien régulier vous assurent au quotidien un lavage de qualité.')
    title= "Laverie Saint-Roch | Votre laverie automatique à Mont-de-Marsan"
    link(rel='icon' type='img/png' href='/icon.png')
    link(rel='apple-touch-icon' href='/icon-touch.png')
    meta(name='msapplication-config' content='browserconfig.xml')
    block stylesheets    
      // build:css css/app.css
      //link(rel='stylesheet' href='css/vendors/bootstrap-reboot.css')
      link(rel='stylesheet' href='css/main.css')
      // endbuild
  body
    block content
      
    block scripts
      // build:js js/app.js
      //script(src='js/vendors/jquery.js')
      script(src='js/main.js')
      // endbuild
