<header>
  <nav>
    <img src="img/logo.png" alt="Logo Laverie Saint-Roch">
    <ul>
      <li><a href="#prices">Tarifs</a></li>
      <li><a href="#blanchisserie">Blanchisserie</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#infos">Horaires</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  <h1>Laverie Saint-Roch</h1>
  <p>Votre laverie automatique à Mont-de-Marsan</p>
</header>
